.color-grass {
    background-color: #16c96a
}
.color-flying {
    background-color: #a3bdd1
}
.color-bug {
    background-color: #006400
}
.color-dark {
    background-color: #1c1e1f
}
.color-dragon {
    background-color: #8fb6b8
}
.color-electric {
    background-color: #FFFF00
}
.color-fairy {
    background-color: #EE82EE
}
.color-fighting {
    background-color: #FF0000
}
.color-fire {
    background-color: #FF4500
}
.color-ghost {
    background-color: #442963
}
.color-ground {
    background-color: #A0522D
}
.color-ice {
    background-color: #ADD8E6
}
.color-normal {
    background-color: #919191
}
.color-poison {
    background-color: #7400fa
}
.color-psychic {
    background-color: #cc40ff
}
.color-rock {
    background-color: #708090
}
.color-steel {
    background-color: #C0C0C0
}
.color-water {
    background-color: #4682B4
}