<html>
 <body>
 <h1> Lista dos pokemons</h1>
 <title>Pokedex - Lista de Pokemons</title>

 <table border="1">
<tr>
     <td bgcolor="#7ddb80"><a href="http://127.0.0.1:5000/pokemon/1"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="Bulbasaur" width="50" height="50" align="middle"></a>Bulbasaur<a href="http://127.0.0.1:5000/pokemon/1">Veja as informacoes do Bulbasaur</a></td>
     <br/>
     <td bgcolor="#e64d32"><a href="http://127.0.0.1:5000/pokemon/2"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Charmander" width="50" height="50" align="middle"></a>Charmander<a href="http://127.0.0.1:5000/pokemon/2">Veja as informacoes do Charmander</a></td>
     <br/>
     <td bgcolor="#7e96e6"><a href="http://127.0.0.1:5000/pokemon/3"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png" alt="Squirle" width="50" height="50" align="middle"></a>Squirtle<a href="http://127.0.0.1:5000/pokemon/3">Veja as informacoes do Squirtle</a></td>
     <br/>
     <td bgcolor="#b81adb"><a href="http://127.0.0.1:5000/pokemon/4"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png" alt="Mewtwo" width="50" height="50" align="middle"></a>Mewtow<a href="http://127.0.0.1:5000/pokemon/4">Veja as informacoes do Mewtow</a></td>
     <br/>
     <td bgcolor="#b81adb"><a href="http://127.0.0.1:5000/pokemon/5"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/151.png" alt="Mew" width="50" height="50" align="middle"></a>Mew<a href="http://127.0.0.1:5000/pokemon/5">Veja as informacoes do Mew</a></td>
 </tr>
 </table>
</html>

