<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="detalhes sobre o Pokemon escolhido">
    <title>Pokédex - Detalhes do Pokemon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Detalhes do {{data.name}}</h1>
<table>
    <tr>
        <td>
            <img src="{{ data.sprites.other.dream_world.front_default }}" alt="{{ data.name }}-image" width="300"
                 height="300" align="left">
        </td>
        <td style="vertical-align: top;">
            <table border="1" cellpadding=10 align="">
                <tr>
                    <th bgcolor="#FFDEAD">Tipos:</th>
                    {% for type_data in data.types %}
                    <td align="center" class="color-{{ type_data.type.name }}">
                        <font color="white">{{ type_data.type.name }}
                        </font>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th align="center" bgcolor="#FFDEAD">
                        Movimentos
                    </th>
                    <td align="center">
                        <font color="black" >
                            {{ data.moves.0.move.name }}
                        </font>
                    </td>
                    <td align="center">
                        <font color="black">
                            {{ data.moves.1.move.name }}
                        </font>
                    </td>
                    <td align="center">
                        <font color="black">
                            {{ data.moves.2.move.name }}
                        </font>
                    </td>
                    <td align="center">
                        <font color="black">
                            {{ data.moves.3.move.name }}
                        </font>
                    </td>
                </tr>
                <tr>
                    <th align="center" bgcolor="#FFDEAD">
                        Peso
                    </th>
                    <td>
                        {{ data.weight / 10}} Kg
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<a href="http://127.0.0.1:5000/pokemons">
    Voltar página
</a>
</body>
</html>