<html>
<head>
    <h1> Lista dos pokemons</h1>
    <title>Pokedex - Lista de Pokemons</title>

</head>
<body>
<ol>
    {% for pokemon in data %}
    <li>
        <table border="1">
            <tr>
                <td class="colors-{{ pokemon.types.0.type.name }}">
                    <a href="http://127.0.0.1:5000/pokemon/{{pokemon.id}}">
                        <img src="{{ pokemon.sprites.other.dream_world.front_default }}" alt="{{pokemon.name}}"
                             width="50"
                             height="50" align="middle">
                    </a>
                </td>

                <td class="colors-{{ pokemon.types.0.type.name }}" width="150px">{{pokemon.name}} </td>

        </table>
    </li>
    {% endfor %}
</ol>


</body>
</html>

