<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="detalhes sobre o Pokemon escolhido">
    <title>Pokedex - Detalhes do Pokemon</title>
</head>
<body>
<h1>Detalhes do {{data.name}}</h1>
<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="bulbasaur image" width="250" height="300" align="left">
<table border="1">
    <tr>
        <td bgcolor="#e0b982">Tipos</td>
    </tr>
    <tr>
        <td bgcolor="#16c96a">grama</td>
    </tr>
    <tr>
        <td bgcolor="#7617d1">venenoso</td>
    </tr>
</table>
</body>
</html>